mixin icon(name)
  svg(class="icon icon-" + name)
    use(xlink:href="#icon-" + name)

doctype html
html(lang="fi-FI")
  head
    meta(charset="utf-8")
    block title
      title Huvilaranta
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="icon" type="image/png" href="img/favicon.png")
    script.
        console.time && console.time('fontLoading');
    script.
        function loadFont(a,b,c){function d(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")',{});return a.load(),"loading"===a.status}var e=navigator.userAgent,f=!window.addEventListener||e.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!e.match(/Chrome/);if(!f){var g={};try{g=localStorage||{}}catch(a){}var h="x-font-"+a,i=h+"url",j=h+"css",k=g[i],l=g[j],m=document.createElement("style");if(m.rel="stylesheet",document.head.appendChild(m),!l||k!==b&&k!==c){var n=c&&d()?c:b,o=new XMLHttpRequest;o.open("GET",n),o.onload=function(){o.status>=200&&o.status<400&&(g[i]=n,g[j]=m.textContent=o.responseText)},o.send()}else m.textContent=l}}
    script.
        loadFont("opensans-regular","static/fonts/stylesheet.woff.css","static/fonts/stylesheet.woff2.css"),loadFont("opensans-light","static/fonts/stylesheet.woff.css","static/fonts/stylesheet.woff2.css"),loadFont("opensans-bold","static/fonts/stylesheet.woff.css","static/fonts/stylesheet.woff2.css"),loadFont("opensans-semibold","static/fonts/stylesheet.woff.css","static/fonts/stylesheet.woff2.css"),loadFont("opensans-italic","static/fonts/stylesheet.woff.css","static/fonts/stylesheet.woff2.css"),loadFont("quattrocentosans-regular.woff","static/fonts/stylesheet.woff.css","static/fonts/stylesheet.woff2.css");
    script.
        console.timeEnd && console.timeEnd('fontLoading');

    script.
        !function(a){"use strict";var b=function(b,c,d){function j(a){return e.body?a():void setTimeout(function(){j(a)})}function l(){f.addEventListener&&f.removeEventListener("load",l),f.media=d||"all"}var g,e=a.document,f=e.createElement("link");if(c)g=c;else{var h=(e.body||e.getElementsByTagName("head")[0]).childNodes;g=h[h.length-1]}var i=e.styleSheets;f.rel="stylesheet",f.href=b,f.media="only x",j(function(){g.parentNode.insertBefore(f,c?g:g.nextSibling)});var k=function(a){for(var b=f.href,c=i.length;c--;)if(i[c].href===b)return a();setTimeout(function(){k(a)})};return f.addEventListener&&f.addEventListener("load",l),f.onloadcssdefined=k,k(l),f};"undefined"!=typeof exports?exports.loadCSS=b:a.loadCSS=b}("undefined"!=typeof global?global:this);var edfr = onloadCSS("static/css/font-awesome.min.css");onloadCSS( ss, function() {document.body.innerHTML += '<h1>onload!!!</h1>';});

    //- link(rel="stylesheet" media="all" href="static/css/font-awesome.min.css")
    link(rel="stylesheet" media="all" href="static/css/style.css")

  body
    //BEGIN out
    block content
    //END out
    script(src="static/js/app.min.js")
